<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyf.music.musiclibrary" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:name=".service.MusicPlayerService"
            android:process=":music"/>
    </application>
</manifest>
